{
  "plugins": ["@typescript-eslint"],
  "extends": [
    "plugin:@typescript-eslint/recommended",
    "plugin:prettier/recommended",
    "next",
    "prettier"
  ],
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "rules": {
    "@typescript-eslint/no-unused-vars": "error",
    "@typescript-eslint/no-explicit-any": "error",
    "react/react-in-jsx-scope": 0,
    "react/jsx-filename-extension": [1, { "extensions": [".tsx"] }],
    "react/jsx-curly-brace-presence": [
      1,
      { "props": "never", "children": "ignore" }
    ],
    "react/self-closing-comp": ["error", {
      "component": true,
      "html": true
    }],
    "react/prop-types": "off",
    "react/jsx-props-no-spreading": "off",
    "react/require-default-props": ["off", { "ignoreFunctionalComponents": true }],
    "jsx-a11y/anchor-is-valid": "off",
    "arrow-parens": [2, "always", { "requireForBlockBody": true }],
    "no-prototype-builtins": "off",
    "react/destructuring-assignment": "off",
    "no-use-before-define": [
      "error",
      { "functions": false, "classes": true, "variables": true }
    ],
    "@typescript-eslint/explicit-function-return-type": [
      1, {
        "allowExpressions": true
      }
    ],
    "@typescript-eslint/no-use-before-define": [
      "error",
      {
        "functions": false,
        "classes": true,
        "variables": true,
        "typedefs": true
      }
    ],
  }
}
